<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h1>Welcome</h1>

<!----
<form th:action="@{/pagetwo}" method="GET">
<input type="submit" value="Gå till sida 2">
</form>
---->

<form th:action="@{/authenticate-user}" method="POST">
    <input type="text" placeholder="Förnamn" th:name="firstname"> <br>

    <input type="text" placeholder="Lösenord" th:name="password"> <br>
    <input type="submit" value="Registrera dig">
</form>

<!----
<div th:each="user: ${users}">
    <p th:text="${user.firstname}"/>
    <p th:text="${user.lastname}"/>
</div>
---->
<!----
<form th:action="@{/saveUserParam}" method="POST">
    <input type="text" placeholder="Förnamn" th:name="firstname"> <br>
    <input type="text" placeholder="Efternamn" th:name="lastname"> <br>
    <input type="text" placeholder="Lösenord" th:name="passwordOne"> <br>
    <input type="text" placeholder="Bekräfta lösenord" th:name="passwordTwo"> <br>
    <input type="submit" value="Registrera dig">
</form>
---->

<p th:text="${msg}"></p>

</body>
</html>